<section class="py-12 bg-gray-50">
  <div class="container mx-auto">
    <h2 class="text-3xl font-semibold text-center mb-8">Checkout Process</h2>

    <div *ngIf="cartItems().length > 0; else emptyCart" class="flex flex-col lg:flex-row items-start gap-10">
      <div class="w-full flex flex-1 justify-start items-center mb-8 lg:mb-0">
        <div class='w-full flex flex-col gap-2'>
          <!-- Login section -->
          <div *ngIf="!isUserLoggedIn()">
            <p class='text-start'>Returning customer? <button class='text-blue-500' (click)="showLoginForm()">Click here to login</button></p>
            <app-login *ngIf="loginFormVisible()"></app-login>
          </div>

          <!-- Welcome message when logged in -->
          <div *ngIf="isUserLoggedIn()" class="mb-4">
            <p class="text-green-600">Welcome back! You are logged in.</p>
          </div>

          <p>Billing Details</p>
        </div>
      </div>

      <p>Order Summary</p>
    </div>

    <ng-template #emptyCart>
      <div>
        <p class='text-center'>Your Cart Is Empty! <a class='text-blue-500' routerLink="./">Add Products To Cart</a></p>
      </div>
    </ng-template>
  </div>
</section>
